* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body,
input,
textarea,
button,
select {
  font: "DM Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background: #f2f2f2;
  color: #fff;
}
