.container {
  margin-top: 184px;
  margin-bottom: 184px;
  display: flex;
  flex-direction: column;
  padding-right: 375px;
  padding-left: 375px;
  background: #f2f2f2 url("../../public/images/bg-second.png");
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;

  h1 {
    font-size: 48px;
    font-weight: 122%;
    color: #3b3e43;
    width: 528px;
    height: 118;
    line-height: 67.2px;
  }

  .containerCards {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 1150px;
    margin-top: 32px;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 370px;
      height: 375px;
      background-color: #fff;
      border-radius: 15px;
      padding-left: 20px;
      padding-right: 20px;

      h2 {
        font-size: 22px;
        color: #3b3e43;
        font-weight: 700;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
        color: #595e64;
        line-height: 24px;
        font-weight: 400;
      }
    }
  }
}
